
/*==============================
BACK TO TOP ARROW BUTTON
===============================*/

.top-btn{

    position:fixed;
    right:25px;
    bottom:25px;
    width:55px;
    height:55px;
    border:none;
    border-radius:50%;
    background:var(--primary);
    color:#fff;
    font-size:20px;
    cursor:pointer;
    box-shadow:0 10px 30px rgba(0,0,0,.2);

    opacity:0;
    visibility:hidden;

    transition:.4s;

    z-index:999;

}

.top-btn.show{

    opacity:1;
    visibility:visible;

}

.top-btn:hover{

    transform:translateY(-6px);

}